.chat-input
    display: flex
    position: relative
    padding: 20px
    border-top: 1px solid #f7f7f7

    &__smile-btn, &__actions
        display: flex
        align-items: center

    &__smile-btn
        margin-right: 20px

    &__actions
        justify-content: space-between
        width: 70px
        margin-left: 20px

    span.anticon
        color: #111
        font-size: 20px
        opacity: 0.5
        cursor: pointer
        transition: opacity 0.3s ease-in-out
        &:hover
            color: #389fff
            opacity: 1

    input
        padding: 6px 11px 8px
        font-size: 14px
        &:focus
            box-shadow: none

    span, input
        background-color: #f7f8f9
